QGroupBox,QFrame#teamWidget {
background:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0#FC8389,stop:1#F45860);
border:2px outset #950209;
border-radius:3px;
font:normal 18px;
text-decoration:underline;
}

QGroupBox::title {
subcontrol-position:top center;
top:5px;
}

QGroupBox#greyedOut{
	background:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0#4d4d4d,stop:1#F45860);
}

QLabel#boldLabel {
font:bold;
}

QLabel#description,QTableWidget{
	font: 14px;
}

QLabel#teamNameTitle {
color:#F45860;
font:normal 40px;
text-decoration:underline;
}

QLineEdit,QPlainTextEdit {
background:#FC8389;
border:2px outset #950209;
border-radius:3px;
}

QProgressBar {
background:#FFF;
border-radius:10px;
}

QProgressBar::Chunk {
background:#950209;
border-radius:10px;
}

QPushButton {
background:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0#FC8389,stop:1#F45860);
border:2px solid #950209;
border-radius:15px;
border-style:outset;
padding:2px 5px 5px;
}

QPushButton:checked {
background:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0#F45860,stop:1#E0313A);
border-style:inset;
}

QPushButton:focus:pressed {
background:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0#F45860,stop:1#FC8389);
border-style:inset;
}

QPushButton:hover {
background:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0#F45860,stop:1#FC8389);
}

QSpinBox {
background:#FC8389;
border:2px outset #950209;
border-radius:10px;
font:normal 20px;
padding:3px;
}